@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap");

/* ------------------------------------------------------------------- vars */
:root {
    --red: #ff4f4f;
    --light-red: #ffa7a7;
    --blue: rgb(160, 193, 255);
    --light-blue: rgb(192, 214, 255);
    --light-grey: rgb(210, 220, 223);
    --accent-green: #a6ff76;
    /* font-size */
    --font-size-h1: 3.815rem;
    --font-size-h2: 3.502rem;
    --font-size-h3: 2.441rem;
    --font-size-h4: 1.953rem;
    --font-size-h5: 1.563rem;
    --font-size-h6: 1.25rem;
    --font-size-small: 0.8rem;
    --font-size-even-smaller: 0.64rem;
}
h1 {
    font-size: 3.815;
}
h2 {
    font-size: 3.502rem;
}
h3 {
    font-size: 2.441rem;
}
h4 {
    font-size: 1.953rem;
}
h5 {
    font-size: 1.563rem;
}
h6 {
    font-size: 1.25rem;
}
.font-small {
    font-size: 0.8rem;
}
.font-even-smaller {
    font-size: 0.64rem;
}

/* ------------------------------------------------------------------- defaults */
* {
    font-family: "Kumbh Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "YOPQ" 300;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scrollbar-width: 2px;
}
html {
    height: 100%;
    display: flex;
    justify-content: center;
}

body {
    width: 100%;
    max-width: 750px;
}

/* ------------------------------------------------------------------- presets */
.debugRedLine {
    outline: solid 3px rgba(255, 0, 0, 0.3);
}

/* sizing divs */
.fillWidth {
    width: 100%;
}
.fillHeight {
    height: 100%;
}
.hugHeight {
    height: fit-content;
}
.hugWidth {
    width: fit-content;
}

/* spacings */
.padding {
    padding: 1em;
}
.paddingHalf {
    padding: 0.5em;
}
.margin {
    margin: 1em;
}

/* flex Classes */
.flex {
    display: flex;
}
.flexColumn {
    flex-direction: column;
}
/* justify */
.flexJustifyCenter {
    justify-content: center;
}
.flexJustifyStart {
    justify-content: flex-start;
}
.flexJustifyEnd {
    justify-content: flex-end;
}
.flexJustifyBetween {
    justify-content: space-between;
}
.flexJustifyAround {
    justify-content: space-around;
}
.flexJustifyEvenly {
    justify-content: space-evenly;
}
/* alignment */
.flexAlignCenter {
    align-items: center;
}
.flexAlignStart {
    align-items: flex-start;
}
.flexAlignEnd {
    align-items: flex-end;
}
.flexAlignStretch {
    align-items: stretch;
}
.flexAlignBaseline {
    align-items: baseline;
}
/* flex-grow */
.flexGrow {
    flex-grow: 1;
}

.interactive {
    pointer-events: auto;
    cursor: pointer;
    transition: 0.3s;
    transform: scale(1);
}
.interactive::hover {
    transform: scale(1.1);
}
.interactive::active {
    transform: scale(0.9);
}

/* ------------------------------------------------------------------- common components */

/* tooltip */
.tooltip {
    background-color: var(--light-blue);
    border: 3px solid var(--blue);
    border-radius: 0.5rem;
    gap: 1rem;
    padding: 1rem;
    width: 100%;
}

.button {
    font-weight: 600;
    padding: 1rem;
    border-radius: 0.25rem;
    border: none;
    margin: 0.5rem 0rem;
}

.red-header {
    border-left: 5px solid var(--red);
    padding-left: 1rem;
    margin: 1rem 0rem;
}

.button-green {
    background-color: var(--accent-green);
    outline: none;
    border: none;
    padding: 1rem;
    width: 100%;
    font-size: var(--font-size-h6);
    font-weight: 700;
    text-transform: capitalize;
    border-radius: 0.25rem;
}
.button-grey {
    background-color: var(--light-grey);
    outline: none;
    border: none;
    border-radius: 0.25rem;
}

.error-label {
    background-color: var(--light-red);
    border: solid 1px var(--red);
    border-radius: 0.25rem;
    transition: 0.3s;
}
.date-icon {
    background-color: white;
    border-radius: 0.5rem;
    height: 5rem;
    width: 5rem;
    overflow: hidden;
}
.date-icon .month {
    text-transform: uppercase;
    background-color: #ff6060;
    color: white;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}
.date-icon .day {
    font-size: 2.5rem;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -0.1rem;
}
.date-icon .day-name {
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -0.5rem;
}
.root-logo-header {
    border: none;
    margin-bottom: 0.5rem;
}
.root-logo-header div {
    font-weight: 700;
    font-size: 1.5rem;
}

/* ------------------------------------------------------------------- event page */
/* event page */
.root-event-route h1 {
    font-weight: 800;
    border-left: 3px var(--red) solid;
    padding-left: 1rem;
    margin: 0.5rem 0rem 1rem 0rem;
    font-size: 2rem;
    text-transform: capitalize;
}
.most-free-display {
    background-color: #c2ffc2;
    display: flex;
    padding: 1rem;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
    overflow: hidden;
}
.most-free-display .header {
    font-weight: 600;
}

.root-event-route .button {
    font-size: 1.2rem;
    font-weight: 700;
}

.root-event-route .button-green {
    margin-top: 1.5rem;
    font-size: 1rem;
}
.root-event-route .button {
    margin-top: 1rem;
    font-size: 1rem;
}

/* ------------------------------------------------------------------- availability table */
table,
th,
td {
    border: 0;
}
table {
    border-collapse: collapse;
}
.availability-display {
    width: 100%;
    height: fit-content;
    margin-top: 1rem;
    overflow: auto;
}

/* header cells */
.availability-display th {
    border: solid 1px black;
    background-color: white;
    border: 0;
}

/* sticky header row */
.availability-display thead {
    position: sticky;
    top: 0;
    z-index: 1;
}

/* stick the first column */
.availability-display td:first-child {
    position: sticky;
    left: 0;
    background-color: white;
    text-transform: capitalize;
}

/* stick the top left column */
.availability-display {
    position: relative;
}
.availability-display th:first-child {
    position: sticky;
    left: 0;
}

/* styling the top row */
.availability-display .date-cell {
    padding: 0.1rem;
    min-width: fit-content;
}
.availability-display .date-cell .day-name {
    font-weight: 400;
    font-size: 0.8rem;
}
.availability-display .date-cell .date {
    font-weight: 700;
    font-size: 1.2rem;
    text-transform: uppercase;
    white-space: nowrap;
}
.availability-display .date-cell .time-slots {
    white-space: nowrap;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    /* gap: 0.5rem; */
    font-weight: 400;
    padding: 0rem 0.5rem;
}
.availability-display .date-cell .time-slots div {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.availability-display .checkbox-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 0.225rem;
    padding: 4px 0rem;
    margin: 0rem 0.5rem;
}

.availability-display .name-cell {
    background-color: white;
    padding: 0.1rem;
    padding-right: 0.5rem;
    text-align: right;
    font-weight: 700;
    z-index: 2;
}

/* ------------------------------------------------------------------- editing page */
.root-edit-event label div {
    font-weight: 600px;
}
.text-input {
    width: 100%;
    padding: 4px 8px;
    border-radius: 4px;
    border: 1px solid var(--light-grey);
    font-size: var(--font-size-h6);
    margin: 0.25rem 0rem;
}
.root-edit-event .form-section {
    margin: 1rem 0rem;
    /* background-color: red; */
    height: auto;
}
.root-edit-event .date-picker-container {
    padding: 0.25rem 0rem;
    gap: 1rem;
}

.root-edit-event .date-picker-container label {
    width: 50%;
}
.root-edit-event input[type="date"] {
    width: 100%;
    border: 1px solid var(--light-grey);
    font-size: var(--font-size-h6);
    margin-top: 0.25rem;
    padding: 4px 8px;
}

.root-edit-event .member-row {
    display: flex;
    font-size: var(--font-size-h6);
    text-transform: capitalize;
    gap: 0.5rem;
    padding: 0.25rem 0rem;
    align-items: center;
}

.root-edit-event .member-row {
}

.root-edit-event .member-row button {
    padding: 0.25rem;
    background-color: rgb(210, 220, 223);
    outline: none;
    border: none;
    width: 2rem;
    height: 2rem;
    border-radius: 0.25rem;
}

.root-edit-event .member-row input {
    width: auto;
    flex-grow: 1;
}

.root-edit-event .add-member-button {
    outline: none;
    border: none;
    padding: 1rem;
    width: 100%;
    font-size: var(--font-size-h6);
    font-weight: 700;
    text-transform: capitalize;
    border-radius: 0.25rem;
    margin: 0.5rem 0rem 1.5rem 0rem;
}

/* ------------------------------------------------------------------- password page */
.root-password-route .button-green {
    margin-top: 1rem;
}

/* Dropdown Menu Styles */
.dropdown-menu {
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 0rem 0rem 0.5rem 0.5rem;
}

.dropdown-item {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
    font-size: 1rem !important;
}

.dropdown-item:hover {
    background-color: #f1f1f1;
}
